.password-generator-container {
  margin: 0 auto;
  width: 90%;
  max-width: 700px;
  padding: 30px;
  border-radius: 8px;
  border: 3px solid #11A77A;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 3px 4px 10px 0px #8a8a8ac2;
}

#password-output {
  background: transparent;
  border: none;
  font-size: 1.5rem;
  width: 100%;
  text-align: center;
}

.range-container {
  margin-top: 20px;
  text-align: center;
}

#password-range {
  -webkit-appearance: none;
  appearance: none;
  width: 160px;
  background-image: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);
  border-radius: 50px;
}

#password-range::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  appearance: none;
  height: 16px;
}

#password-range::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 8px;
  height: 25px;
  /* border: 1px solid #000000; */
  background: linear-gradient(
    to bottom,
    rgb(211, 211, 211) 0%,
    rgba(0, 0, 0, 0.95) 100%
    );
  background-blend-mode: multiply, multiply;
  cursor: pointer;
  border-radius: 18px;
  transform: translateY(-4px);
  transition: 0.15s ease;
  cursor: grab;
}

#password-range::-webkit-slider-thumb:active {
  cursor: grabbing;
  transform: scale(1.2) translateY(-4px);
}

#display-password-length {
  width: 30px;
  background: transparent;
  border: none;
}

.checkbox-container {
  margin: 25px 0 25px;
  width: 70%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

input[type="checkbox"] {
  display: none;
}
input[type="checkbox"]:checked + label {
  transform: scale(1.4);
  filter: brightness(140%);
}

.password-label {
  user-select: none;
  background-image: linear-gradient(to top, #dff7da 0%, #cbe6db 100%);
  filter: brightness(40%);
  height: 40px;
  width: 50px;
  display: grid;
  justify-items: center;
  align-items: center;
  border-radius: 4px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.086);
  transition: 0.2s ease;
  cursor: pointer;
}

